* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .........utility classs...... */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.2rem;
}

.text-red {
    color: #e63946;
}

.text-light {
    color: #f4f4f4
}

.text-black {
    color: #333333;
}

.text-gray {
    color: #555555;
}

.bg-dark {
    background-color: #263238;
}

.primary-btn {
    border-radius: 10rem;
}

.primary-btn:hover {
    background-color: gainsboro;
}

.secondary-btn {
    border-radius: 3em;
    border: 1px solid #e63946;
}

.secondary-btn:hover {
    background-color: gainsboro;
}

.navbar {
    background: #263238;
    font-family: 'Montserrat', sans-serif;
    
}


.navbar .logo {
    float: left;

    /* font-size: 3.5rem; */

}

.navbar .navbar-items {
    float: right;
    /* margin-top:1rem ; */
}

.navbar .nav-item {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase
}

.navbar a:link,
.navbar a:visited {
    color: #f4f4f4;


}

.navbar a:hover,
.navbar a:visited {
    text-decoration: underline;

}

.navbar::after {
    content: '';
    display: block;
    clear: both;
}


.transaction-box {
    background: #f4f4f4;
}

.my-info {
    padding: 2rem 5rem;
}

.btn-info {
    padding: 1rem 1.2rem;
    background-color: rgb(223, 78, 78) !important;
    color: rgb(251, 251, 251) !important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover {
    background-color: #263238 !important;
}

.table-info {
    background-color: rgb(215, 127, 127);
}





@media (min-width:501px) and (max-width:768px) {
    html {
        font-size: 8px;

    }

    p {
        font-size: 1.8rem;
    }

    .navbar .navbar-items,
    .navbar .logo {
        float: none;
        display: block;
        width: 100%;
        text-align: center;

    }

    .showcase .text-box {
        font-size: 8rem;
        text-align: center;
    }

 


}
@media (max-width:501px) {
    html {
        font-size: 50%;
    }

    .navbar .navbar-items,
    .navbar .logo {
        float: none;
        display: block;
        width: 100%;
        text-align: center;

    }

   

    .showcase .text-box {
        font-size: 8rem;
        text-align: center;
    }

   
}

@media(orientation:landscape) and (max-height:500px) {
    .header {
        height: 90vmax;
    }

}